@using System.Reactive.Disposables
@using SimpleProjectManager.Client.Shared.Data
@inherits NonAutoRenderingView<SimpleProjectManager.Client.Shared.ViewModels.CurrentJobs.JobPriorityViewModel>

@inject GlobalState _globalState

<div class="d-flex my-n3">
    <MudCommandIconButton @ref="Goup" Icon="@Icons.Outlined.ArrowUpward"/>
    <MudCommandIconButton @ref="Godown" Icon="@Icons.Outlined.ArrowDownward"/>
    <MudCommandButton @ref="Priorize" StartIcon="@Icons.Outlined.AddTask">Priorisieren</MudCommandButton>
</div>
