@using SimpleProjectManager.Client.Shared.Data
@inherits NonAutoRenderingView<SimpleProjectManager.Client.ViewModels.JobPriorityViewModel>

@inject GlobalState _globalState

<div class="d-flex my-n3">
    <MudCommandIconButton @ref="Goup" Icon="@Icons.Material.Outlined.ArrowUpward"/>
    <MudCommandIconButton @ref="Godown" Icon="@Icons.Material.Outlined.ArrowDownward"/>
    <MudCommandButton @ref="Priorize" StartIcon="@Icons.Material.Outlined.AddTask">Priorisieren</MudCommandButton>
</div>