<div class="d-flex flex-row justify-space-around align-center">
    <div class="d-flex flex-column justify-space-around align-center">
        <MudProgressCircular Class="justify-center align-center" Indeterminate="true"/>
        <MudText Class="justify-center align-center">Bitte Warten...</MudText>
    </div>
</div>
