@using SimpleProjectManager.Shared.Services.Devices
<h3>ButtonDisplay</h3>

@code {
    [Parameter]
    public ImmutableList<DeviceButton> Buttons { get; set; } = ImmutableList<DeviceButton>.Empty;

    [Parameter]
    public DeviceId? DeviceId { get; set; }
}