
@inherits ActorHostComponent<CounterViewModel>

<ChildActorComponent Engine="@BindEngine">
    <p>Current count: @_currentounter.Value</p>
</ChildActorComponent>

@code {
    private ActiveBinding<int> _currentounter = ActiveBinding<int>.Empty;

    protected override void OnInitialized()
    {
        _currentounter = Bind(0, m => m.Counter);

        base.OnInitialized();
    }
}