@using ServiceManager.Shared.ClusterTracking
@inherits PropertyChangedComponent

<MudPaper Elevation="5" Class="pa-2">
    <table>
        <tr>
            <td>
                <MudText>Name:</MudText>
            </td>
            <td>
                <MudText>@NodeInfo.Name</MudText>
            </td>
        </tr>
        <tr>
            <td>
                <MudText>Url:</MudText>
            </td>
            <td>
                <MudText>@NodeInfo.Url</MudText>
            </td>
        </tr>
        <tr>
            <td>
                <MudText>Type:</MudText>
            </td>
            <td>
                <MudText>@NodeInfo.ServiceType</MudText>
            </td>
        </tr>
        <tr>
            <td>
                <MudText>Status:</MudText>
            </td>
            <td>
                <MudText>@NodeInfo.Status</MudText>
            </td>
        </tr>
    </table>
</MudPaper>

@code {

    [Parameter]
    public ClusterNodeInfo NodeInfo { get; set; } = ClusterNodeInfo.Empty;

    protected override async Task OnInitializedAsync() 
        => await Track(NodeInfo);

}
