@using ServiceManager.Shared.ClusterTracking

@inherits ComputedStateComponent<ClusterNodeInfo>

@inject IClusterNodeTracking _nodeTracking;

<MudPaper Elevation="5" Class="pa-2">
    <table>
        <tr>
            <td>
                <MudText>Name:</MudText>
            </td>
            <td>
                <MudText>@State.ValueOrDefault?.Name</MudText>
            </td>
        </tr>
        <tr>
            <td>
                <MudText>Url:</MudText>
            </td>
            <td>
                <MudText>@State.ValueOrDefault?.Url</MudText>
            </td>
        </tr>
        <tr>
            <td>
                <MudText>Type:</MudText>
            </td>
            <td>
                <MudText>@State.ValueOrDefault?.ServiceType</MudText>
            </td>
        </tr>
        <tr>
            <td>
                <MudText>Status:</MudText>
            </td>
            <td>
                <MudText>@State.ValueOrDefault?.Status</MudText>
            </td>
        </tr>
    </table>
</MudPaper>

@code {

    [Parameter]
    public string NodeInfo { get; set; } = string.Empty;

    protected override Task<ClusterNodeInfo> ComputeState(CancellationToken cancellationToken) 
        => _nodeTracking.GetInfo(NodeInfo);

}
