@page "/About"
@using ServiceManager.Shared.ClusterTracking

@inherits PropertyChangedComponent
@inject IClusterConnectionTrackerOld _clusterUrl;

<Title Value="Über Servie Manager"></Title>

<MudText Typo="Typo.h3">Service Manager</MudText>

<MudText>Project Manager Akka</MudText>

<MudText>Aktuelle Url: @_clusterUrl.Url</MudText>

@code {

    protected override async Task OnInitializedAsync()
    {
        await Track(_clusterUrl);
    }
}
