<MudDialog>
    <DialogContent>
        <div style="overflow: scroll; height: 100vh;">
            <p style="white-space: pre-wrap;">@Data</p>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Close">Schließen</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter]
    public MudDialogInstance? MudDialog { get; set; }

    [Parameter]
    public string Data { get; set; } = string.Empty;

    private void Close() => MudDialog?.Close();

    public static DialogParameters GetParameters(string text)
        => new() { { nameof(Data), text } };

}