@using ServiceManager.Shared.ClusterTracking
@inherits ComputedStateComponent<string>
@inject IClusterConnectionTracker _clusterUrl;

<Title Value="Über Servie Manager"></Title>

<CenterElement>
    <MudText Typo="Typo.h3">Service Manager</MudText>
    <MudText>Project Manager Akka</MudText>
    <MudText>Aktuelle Url: @State.LatestNonErrorValue</MudText>
</CenterElement>

@code {

    protected override Task<string> ComputeState(CancellationToken cancellationToken)
        => _clusterUrl.GetUrl();

}